// Mixins

@mixin project-thumb {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	height: 270px;
	max-height: 70vh;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-color: $primary-color;

	@media #{$medium-up} {
		width: 100%;
		margin: 0;
		left: initial;
		right: initial;
		max-height: none;
	}

	.project-thumb {
		height: 100%;
	}
}

@mixin menu-controls {
	position: absolute;
	right: 18px;
	top: 18px;
}

// Typography

@font-face {
	font-family: 'Avenir Next';
	src: url('fonts/AvenirNext-Bold.eot');
	src: url('fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/AvenirNext-Bold.woff') format('woff'),
		url('fonts/AvenirNext-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Avenir Next';
	font-weight: $global-weight-normal;

	small {
		color: $dark-gray;
	}
}
h1 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 32px;

	@media #{$small-only} {
		font-size: rem-calc(36);
	}
}

a {
	color: $dark-gray;
}
a:hover {
	color: $primary-color;
}

small {
	font-size: 70%;
}

.lead {
    font-weight: 200;
		margin-bottom: 32px;

		@media #{$medium-up} {
			font-size: 160%;
		}
}

.quiet {
	font-size: 80%;
}

// Foundation thumbnail overrides
.thumbnail {
	border: none;
	box-shadow: none;
	min-width: 100%;
	&:hover {
		box-shadow: none;
	}
}

// Custom icons

.logo-spacer {
	display: block;
	clear: both;
	background-image: url('../img/logo_d.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	margin: 32px auto;
}

// HEADER

// mobile header
.sticky {
	position: fixed;
	width: 100%;
	z-index: 999;
}
.title-bar {
	text-align: center;
	padding: 0;

	.is-open-right & {
		display: none;
	}

	.logo {
		display: inline-block;
	}

	.mobile-logo {
		display: inline-block;
		width: 58px;
		margin: 0 auto;
		transition: width 300ms ease-in;

		.expanded & {
			// display: block;
			width: 120px;
			margin: 28px auto;
			margin-bottom: 32px;
		}
	}

	.menu-icon {
		font-size: 24px; // hamburger icon needs to be a touch bigger

		@include menu-controls();
	}
}

// mobile menu
.dropdown.menu {
	font-size: 28px;
	font-weight: $global-weight-bold;
	text-transform: uppercase;
	text-align: right;

	&,
	a {
		color: $white;
	}

	& > li > a {
    display: block;
    padding: 1.1rem 1rem;
    line-height: 1;
    font-size: 34px;
	}

	.menu-logo {
		display: block;
		width: 58px;
		margin: 0 auto;
	}

	.close-icon {
		@include menu-controls();
	}
}

.off-canvas {
	background-color: $primary-color;
	height: 100vh;
	position: fixed;
}
.off-canvas.position-right {
	width: 280px;
	width: 85%;
}

// make menu overlay instead of push body to the side
.off-canvas-wrapper {
	.is-open-right {
		transform: none;

		.off-canvas {
			background-color: rgba(201,44,57,0.95);
			transition: right 500ms ease 0s;
			right: 0;
			z-index: 999;
		}
	}
}

// desktop up
.top-bar-center {
	width: 100%;
	display: block;
	clear: both;
	text-align: center;
	text-transform: uppercase;
	font-weight: $global-weight-semibold;

	ul {
		display: inline-block;
		margin: 22px auto 0 auto;

		@media #{$medium-up} {
			margin-top: 22px;
		}
	}

	.menu > li > a {
	    padding: 0.7rem 1.8rem;
	}

	.logo {
		display: inline-block;
		width: 177px;
		padding-top: 22px;
	}
}

// BODY
@media #{$small-only} {
	main {
		padding-top: 121px;
	}
}

@media #{$medium-up} {
	main {
		padding-top: 22px;
    padding-bottom: 46px;
	}
}

.off-canvas-content, .off-canvas-content {
    box-shadow: none;
}

// PROJECTS LISTING

.project-listing,
.project-latest,
.project-detail {
	padding: 0 0px 32px 0px;

	a {
		color: $body-font-color;
		display: block;

		.project-thumb {
			opacity: .9;
		}
	}

	a:hover {
		.project-thumb {
			opacity: 1;
		}
		.project-name,
		.project-location {
			color: $primary-color;
		}
	}

	&.columns:last-child:not(:first-child) {
    float: left;
	}
}
.project-thumb-wrapper {
	@include project-thumb();
	background-color: transparent;
}
.project-thumb {
	@include project-thumb();
}
.project-name {
	font-weight: $global-weight-bold;
	margin-bottom: 0;
	font-size: rem-calc(32);

	@media #{$medium-up} {
		display: inline-block;
		max-width: 70%;
	}
}
.project-location {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	display: inline-block;
	margin-top: -12px;
	font-size: rem-calc(28);
	font-weight: $global-weight-light;

	@media #{$medium-up} {
		text-align: right;
		float: right;
		margin-top: 0;
	}
}
.project-label {
	display: inline-block;
	text-transform: uppercase;
	color: $medium-gray;
	margin: 7px 0 2px 0;
	font-size: rem-calc(16);
	letter-spacing: 3px;
}

// HOME

.project-latest {
	padding-bottom: 0;

	.project-thumb,
	.project-thumb-wrapper {
		@media #{$large-up} {
			height: 512px;
		}
	}

	a .project-thumb {
		opacity: 1;
	}

	.project-label {
		display: block;
	}
}

// PROJECT DETAIL PAGE

.project-detail {
	.project-thumb,
	.project-thumb-wrapper {
		@media #{$large-up} {
			height: 512px;
		}
	}

	.project-thumb-wrapper {
		margin-bottom: 44px;
	}

	.project-name {
		display: block;
		text-align: left;
	}

	@media #{$large-up} {
		.project-name {
			display: inline-block;
		}
	}

	// .project-location {
	// 	float: right;
	// 	text-align: right;
	// 	font-weight: $global-weight-light;
	// }
}

.project-detail-content {
	.project-detail-key-points {
		font-size: rem-calc(22);
		font-weight: $global-weight-light;
		padding-left: 12px;
		margin-bottom: 32px;
	}
}

// TESTIMONIALS PAGE

.testimonial-wrap {
	.quote {
	  background: $light-gray;
	  padding: 15px 20px 5px 15px;
	  border-radius: 5px;
	  margin-bottom: 30px;

		p {
			margin-bottom: 0;
		}

	  &:after {
	    content: '';
	    width: 0px;
	    height: 0px;
	    border-style: solid;
	    border-width: 20px 18px 0 18px;
	    border-color: $light-gray transparent transparent transparent;
	    position: relative;
	    top: 37px;
	    left: 20px;
	  }
	}

	.testimonial-person {
	  margin-left: 25px;
	  margin-bottom: 80px;

	  .photo {
	    background-color: $primary-color;
	    border-radius: 100px;
	    width: 60px;
	    height: 60px;
	    float: left;
	    margin-right: 10px;
	  }

	  p {
	    position: relative;
	    top: 5px;
	    text-transform: uppercase;

	    &:nth-child(2) {
	      font-size: 16px;
	      font-weight: 600;
	      margin-bottom: 0;
	    }

	    &:nth-child(3) {
	      font-size: 14px;
	      color: $dark-gray;
	    }
	  }
	}
}

// FOOTER

.cta {
	margin: 32px auto;
	display: block;
	width: 276px;
	border-radius: 0 6px 6px 6px;
	box-shadow: 1px 1px 1px $dark-gray;
	text-shadow: 0.5px 0.5px 1px $medium-gray;
	transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out;

	&:hover {
		box-shadow: none;
		text-shadow: none;
	}
}

.cta.main-cta {
	margin: 42px auto;
}

.site-footer {
	background-color: $light-gray;
	padding-bottom: 32px;
	font-size: 110%;

	&.row {
		margin: 0;
		max-width: 100%;
	}

	@media #{$medium-up} {
		font-size: 120%;
	}

	.logo-spacer {
		width: 45px;
		height: 45px;
	}

	ul {
		margin: 0;
		margin-bottom: 18px;
	}

	li {
		display: block;
    list-style: none;
		padding: 8px;
		max-width: 100%;
		overflow-wrap: break-word;
	}
}
