// Mixins

@mixin project-thumb {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	height: 270px;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-color: $primary-color;
}

// Typography

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

//helper for font weight
//400,600,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

.quiet {
	font-size: 80%;
}

// HEADER

// mobile menu
.mobile-logo {
	width: 120px;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}
.sticky {
	position: fixed;
	width: 100%;
	z-index: 999;
}
.title-bar {
	text-align: center;

	.title-bar-center img {
		display: inline-block;
		width: 66px;
		margin: 0 auto;
	}
}

// desktop up
.top-bar-center {
	width: 100%;
	display: block;
	clear: both;
	text-align: center;
	text-transform: uppercase;
	font-weight: $global-weight-semibold;

	ul {
		display: inline-block;
		margin: 0 auto;
	}

	.menu > li > a {
	    padding: 0.7rem 1.8rem;
			color: $dark-gray;
	}

	.logo {
		display: inline-block;
		width: 177px;
		padding-top: 22px;
	}
}

// BODY
@media #{$small-only} {
	main {
		padding-top: 120px;
	}
}

.off-canvas-content, .off-canvas-content {
    box-shadow: none;
}

// HOME

.latest-project {
	.project-thumb {
		@include project-thumb();
	}
}
