// Mixins

@mixin project-thumb {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	height: 270px;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-color: $primary-color;

	@media #{$medium-up} {
		width: 100%;
		margin: 0;
		left: initial;
		right: initial;
	}
}

@mixin menu-controls {
	position: absolute;
	right: 18px;
	top: 18px;
}

// Typography

@font-face {
	font-family: 'Avenir Next';
	src: url('fonts/AvenirNext-Bold.eot');
	src: url('fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/AvenirNext-Bold.woff') format('woff'),
		url('fonts/AvenirNext-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $global-weight-normal;
}
h1 {
	font-family: 'Avenir Next';
	font-weight: bold;
	text-align: center;
	margin-bottom: 32px;

	@media #{$small-only} {
		font-size: rem-calc(36);
	}
}

a {
	color: $dark-gray;
}
a:hover {
	color: $primary-color;
}

.lead {
    font-weight: 200;
		margin-bottom: 32px;

		@media #{$medium-up} {
			font-size: 160%;
		}
}

.quiet {
	font-size: 80%;
}

// Foundation thumbnail overrides
.thumbnail {
	border: none;
	box-shadow: none;
	&:hover {
		box-shadow: none;
	}
}

// Custom icons

.logo-spacer {
	display: block;
	clear: both;
	background-image: url('../img/logo_d.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	margin: 32px auto;
}

// HEADER

// mobile header
.sticky {
	position: fixed;
	width: 100%;
	z-index: 999;
}
.title-bar {
	text-align: center;
	padding: 0;

	.is-open-right & {
		display: none;
	}

	.mobile-logo {
		display: inline-block;
		width: 58px;
		margin: 0 auto;
		transition: all 0.4s ease;

		.expanded & {
			display: block;
			width: 120px;
			margin: 28px auto 6px auto;
			margin-bottom: 40px;
		}
	}

	.menu-icon {
		font-size: 24px; // hamburger icon needs to be a touch bigger

		@include menu-controls();
	}
}

// mobile menu
.dropdown.menu {
	font-size: 28px;
	font-weight: $global-weight-bold;
	text-transform: uppercase;
	text-align: right;

	&,
	a {
		color: $white;
	}

	& > li > a {
    display: block;
    padding: 1.1rem 1rem;
    line-height: 1;
    font-size: 34px;
	}

	.menu-logo {
		display: block;
		width: 58px;
		margin: 0 auto;
	}

	.close-icon {
		@include menu-controls();
	}
}

.off-canvas {
	background-color: $primary-color;
	height: 100vh;
	position: fixed;
}
.off-canvas.position-right {
	width: 280px;
	width: 85%;
}

// make menu overlay instead of push body to the side
.off-canvas-wrapper {
	.is-open-right {
		transform: none;

		.off-canvas {
			background-color: rgba(201,44,57,0.95);
			transition: right 500ms ease 0s;
			right: 0;
			z-index: 999;
		}
	}
}

// desktop up
.top-bar-center {
	width: 100%;
	display: block;
	clear: both;
	text-align: center;
	text-transform: uppercase;
	font-weight: $global-weight-semibold;

	ul {
		display: inline-block;
		margin: 22px auto 0 auto;

		@media #{$medium-up} {
			margin-top: 42px;
		}
	}

	.menu > li > a {
	    padding: 0.7rem 1.8rem;
	}

	.logo {
		display: inline-block;
		width: 177px;
		padding-top: 22px;
	}
}

// BODY
@media #{$small-only} {
	main {
		padding-top: 121px;
	}
}

@media #{$medium-up} {
	main {
		padding-top: 38px;
    padding-bottom: 46px;
	}
}

.off-canvas-content, .off-canvas-content {
    box-shadow: none;
}

// PROJECTS LISTING

.project-listing,
.project-latest,
.project-detail {
	padding-bottom: 32px;

	a {
		color: $body-font-color;
		display: block;
	}

	a:hover {
		.project-thumb {
			opacity: .95;
			filter: blur(1px);
		}
		.project-name,
		.project-location {
			color: $primary-color;
		}
	}

	&.columns:last-child:not(:first-child) {
    float: left;
	}
}
.project-thumb-wrapper {
	@include project-thumb();
	background-color: transparent;
}
.project-thumb {
	@include project-thumb();
}
.project-name {
	font-weight: $global-weight-bold;
	margin-bottom: 0;
	font-size: rem-calc(32);

	@media #{$medium-up} {
		display: inline-block;
		max-width: 70%;
	}
}
.project-location {
	display: inline-block;
	margin-top: -12px;
	font-size: rem-calc(28);
	font-weight: $global-weight-light;

	@media #{$medium-up} {
		text-align: right;
		float: right;
		margin-top: 0;
	}
}
.project-label {
	display: inline-block;
	text-transform: uppercase;
	color: $medium-gray;
	margin: 7px 0 2px 0;
	font-size: rem-calc(16);
	letter-spacing: 3px;
}

// HOME

.project-latest {
	.project-thumb,
	.project-thumb-wrapper {
		@media #{$large-up} {
			height: 512px;
		}
	}

	a:hover .project-thumb {
		filter: none;
		opacity: 1;
	}

	.project-label {
		display: block;
	}
}

// PROJECT DETAIL PAGE

.project-detail {
	.project-thumb,
	.project-thumb-wrapper {
		@media #{$large-up} {
			height: 512px;
		}
	}

	.project-thumb-wrapper {
		margin-bottom: 44px;
	}

	.project-name {
		display: block;
		text-align: left;
	}

	@media #{$large-up} {
		.project-name {
			display: inline-block;
		}
	}


	// .project-location {
	// 	float: right;
	// 	text-align: right;
	// 	font-weight: $global-weight-light;
	// }
}

.project-detail-content {
	.project-detail-key-points {
		font-size: rem-calc(22);
		font-weight: $global-weight-light;
		padding-left: 12px;
		margin-bottom: 32px;
	}
}

// FOOTER

.cta {
	margin: 32px auto;
	display: block;
	width: 276px;
	border-radius: 0 6px 6px 6px;
	box-shadow: 1px 1px 1px $dark-gray;
	text-shadow: 0.5px 0.5px 1px $medium-gray;
	transition: all 300ms ease-out;

	&:hover {
		box-shadow: none;
		text-shadow: none;
	}
}

.cta.main-cta {
	margin: 42px auto;
}

.site-footer {
	background-color: $light-gray;
	padding-bottom: 32px;
	font-size: 110%;

	&.row {
		margin: 0;
		max-width: 100%;
	}

	@media #{$medium-up} {
		font-size: 120%;
	}

	.logo-spacer {
		width: 45px;
		height: 45px;
	}

	ul {
		margin: 0;
		margin-bottom: 18px;
	}

	li {
		display: block;
    list-style: none;
		padding: 8px;
		max-width: 100%;
		overflow-wrap: break-word;
	}
}
