// Mixins

@mixin project-thumb {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	height: 270px;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-color: $primary-color;
}

// Typography

h1, h2, h3, h4, h5, h6 {
	font-weight: $global-weight-normal;
	@media #{$medium-up} {
	}
}
h1 {
	font-weight: $global-weight-semibold;
}

.quiet {
	font-size: 80%;
}

// HEADER

// mobile header
.mobile-logo {
	width: 120px;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}
.sticky {
	position: fixed;
	width: 100%;
	z-index: 999;
}
.title-bar {
	text-align: center;
	padding: 0;

	.title-bar-center img {
		display: inline-block;
		width: 58px;
		margin: 0 auto;
	}

	.menu-icon {
		position: absolute;
		right: 18px;
		top: 22px;
	}
}

// mobile menu
.dropdown.menu {
	background-color: $primary-color;
	font-size: 28px;
	font-weight: $global-weight-bold;
	text-transform: uppercase;
	text-align: right;

	&,
	a {
		color: $white;
	}

	& > li > a {
    display: block;
    padding: 1.1rem 1rem;
    line-height: 1;
    font-size: 34px;
	}
}
.off-canvas,
.dropdown.menu {
	height: 100%;
}

// desktop up
.top-bar-center {
	width: 100%;
	display: block;
	clear: both;
	text-align: center;
	text-transform: uppercase;
	font-weight: $global-weight-semibold;

	ul {
		display: inline-block;
		margin: 0 auto;
	}

	.menu > li > a {
	    padding: 0.7rem 1.8rem;
			color: $dark-gray;
	}

	.logo {
		display: inline-block;
		width: 177px;
		padding-top: 22px;
	}
}

// BODY
@media #{$small-only} {
	main {
		padding-top: 92px;
	}
}

.off-canvas-content, .off-canvas-content {
    box-shadow: none;
}

// HOME

.latest-project {
	.project-thumb {
		@include project-thumb();
	}
	.project-name {
		font-weight: $global-weight-bold;
		margin-bottom: 0;
	}
	.project-location {
		display: inline-block;
		margin-top: -12px;
		font-size: rem-calc(28);
		font-weight: $global-weight-light;
	}
	.project-label {
		text-transform: uppercase;
		color: $medium-gray;
	}
}
