---
layout: default
---

<div class="row project-detail">
  <div class="small-11 large-10 columns small-centered">
    <div class="project-thumb-wrapper">
      <!--<div class="thumbnail project-thumb" style="background-image: url('{{page.feature_img}}');" title="Image of {{page.title}} {{page.location}}"></div>-->
      {% gallery %}
    </div>
    <h1 class="project-name">{{page.title}}</h1>
    <h2 class="project-location">{{page.location}}</h2>
  </div>
</div>

{{ content }}

<br>
<br>

{% include recent-projects.html %}

{% include cta.html %}
