/**
 * FOOTER
 */

.light-grey-block {
	background-color: $light-gray;
}

.site-footer {
	padding-bottom: 32px;
	font-size: 110%;

	&.row {
		margin: 0;
		max-width: 100%;
	}

	@media #{$medium-up} {
		font-size: 120%;
	}

	ul {
		margin: 0;
		margin-bottom: 18px;
	}

	li {
		display: block;
    list-style: none;
		padding: 8px;
		max-width: 100%;
		overflow-wrap: break-word;
	}
}
