/**
 * PROJECTS LISTING
**/
.project-listing,
.project-latest,
.project-detail {
	padding: 0 0px 32px 0px;

	a {
		color: $body-font-color;
		display: block;
	}

	[data-whatinput="mouse"] & {
		a:hover {
			.project-thumb {
				filter: none;
			}
		}
	}

	&.columns:last-child:not(:first-child) {
    float: left;
	}
}
.project-thumb-wrapper {
	@include project-thumb();
	background-color: transparent;
}
.project-thumb {
	@include project-thumb();
}
.project-name {
	font-weight: $global-weight-bold;
	margin-bottom: 0;
	font-size: rem-calc(32);

	@media #{$medium-up} {
		display: inline-block;
		max-width: 70%;
	}
}
.project-location {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	display: inline-block;
	margin-top: -12px;
	font-size: rem-calc(26);
	font-weight: $global-weight-light;

	@media #{$medium-up} {
		text-align: right;
		float: right;
		margin-top: 0;
	}
}
.project-label {
	display: inline-block;
	text-transform: uppercase;
	color: $medium-gray;
	margin: 7px 0 2px 0;
	font-size: rem-calc(16);
	letter-spacing: 3px;
}

/**
 * Project listing module
 */

.project-listing {
	.project-thumb {
		[data-whatinput="mouse"] & {
			filter: grayscale(50%);
		}
	}
	.circle {
		// background: $primary-color;
	}
}

/**
 * Home
**/

.project-latest {
	padding-bottom: 0;

	.project-thumb,
	.project-thumb-wrapper {
		@media #{$large-up} {
			height: 532px;
		}
	}

	a .project-thumb {
		opacity: 1;
	}

	.project-label {
		display: block;
	}

	.project-location {
		@media #{$medium-up} {
			float: right;
			margin-top: 0;
		}
	}
}

/**
 * PROJECT DETAIL PAGE
**/
.project-detail {
	.project-thumb,
	.project-thumb-wrapper {
		@media #{$large-up} {
			height: 512px;
		}
	}

	.project-thumb-wrapper {
		margin-bottom: 24px;
	}

	.project-name {
		display: block;
		text-align: left;
	}

	@media #{$large-up} {
		.project-name {
			display: inline-block;
		}
	}
}

.project-detail-content {
	.project-detail-key-points {
		font-size: rem-calc(22);
		font-weight: $global-weight-light;
		padding-left: 12px;
		margin-bottom: 32px;
	}
}

/**
 * Recent projects module
 */
@media #{$small-only} {
	.recent-projects .column {
		padding: 0;
	}
}
@media #{$large-up} {
	.recent-projects:nth-child(odd) .column {
	    padding-left: 0;
	}
	.recent-projects:nth-child(even) .column {
	    padding-right: 0;
	}
}

/**
 * TESTIMONIALS PAGE
 */

.testimonial-wrap {
	.quote {
	  background: $light-gray;
	  padding: 15px 20px 5px 15px;
	  border-radius: 5px;
	  margin-bottom: 30px;

		p {
			margin-bottom: 0;
		}

	  &:after {
	    content: '';
	    width: 0px;
	    height: 0px;
	    border-style: solid;
	    border-width: 20px 18px 0 18px;
	    border-color: $light-gray transparent transparent transparent;
	    position: relative;
	    top: 37px;
	    left: 20px;
	  }
	}

	.testimonial-person {
	  margin-left: 25px;
	  margin-bottom: 80px;

	  .photo {
	    background-color: $primary-color;
	    border-radius: 100px;
	    width: 60px;
	    height: 60px;
	    float: left;
	    margin-right: 10px;
	  }

	  p {
	    position: relative;
	    top: 5px;
	    text-transform: uppercase;

	    &:nth-child(2) {
	      font-size: 16px;
	      font-weight: 600;
	      margin-bottom: 0;
	    }

	    &:nth-child(3) {
	      font-size: 14px;
	      color: $dark-gray;
	    }
	  }
	}
}
