// Typography

@font-face {
	font-family: 'Avenir Next';
	src: url('fonts/AvenirNext-Bold.eot');
	src: url('fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/AvenirNext-Bold.woff') format('woff'),
		url('fonts/AvenirNext-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Avenir Next';
	font-weight: $global-weight-normal;

	small {
		color: $dark-gray;
	}
}
h1 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 32px;

	@media #{$small-only} {
		font-size: rem-calc(36);
	}
}

a {
	color: $dark-gray;
}
a:hover {
	[data-whatinput="mouse"] & {
		color: $primary-color;
	}
	[data-whatinput="touch"] & {
		color: $primary-color;
	}
}

small {
	font-size: 70%;
}

.lead {
    font-weight: 200;
		margin-bottom: 32px;

		@media #{$medium-up} {
			font-size: 160%;
		}
}

.quiet {
	font-size: 80%;
}
